@import './colors';

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    
    

    .nav-content {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 20px;
        color: #ffffff;
        
        
        .info>button, .score, .title {
            font-family: 'Passion One', cursive;
        }
        
        .info, .score {
            width: 100px;
        }

        .score {
            font-size: 1.5rem;
            text-align: end;

            @media only screen and (max-width: 500px) {
                font-size: 1.2rem;
            } 
            @media only screen and (max-width: 400px) {
                font-size: 1rem;
            } 

        }

        .info {
            // text-align: center;
            button {
                cursor: pointer;
                background-color: rgba($color: #000000, $alpha: 0.0);
                border-style: none;
                color: #ffffff;
                font-size: 1.7rem;
    
                &:hover {
                    color: $green_medium;
                }
            }
        }

        .title {
            letter-spacing: 0.3rem;
            font-size: 2rem;
        }

        @media only screen and (max-width: 1500px) {
            width: 90%;
        } 

        @media only screen and (max-width: 750px) {
            width: 100%;
        }
        
        @media only screen and (max-width: 500px) {
            padding: 5px 10px;

        } 
    }

}

.game {
    width: 100%;
    height: 100vh;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url('./img/background_pano.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    @media only screen and (max-width: 912px) {
        background-image: url('./img/background_mobile.jpg');
    } 

        .hangman-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .hangman {
                position: relative;
                height: 50%;
                width: 50%;    
                img {
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 100%;
                    width: auto;
                }
            }
        }

    .word {
        display: flex;
        justify-content: center;
        font-size: 3rem;
        width: 100%;
        max-width: 600px;
        margin: 100px 0 0 0;
        z-index: 99;

        @media only screen and (max-width: 650px) {
            margin: 60px 0 0 0;
            width: 95%;
        } 

        .letter-box {
            background-color: rgba($color: $black, $alpha: 0.1);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            width: 60px;
            margin-right: 5px;
            border-bottom: 2px solid $black;

            @media only screen and (max-width: 400px) {
                font-size: 2rem;
                height: 35px;
                width: 35px;
            } 

            &:last-child {
                margin-right: 0px;
            }

            .show {
                display: block;
            }
        }
        
    }  
    .hide {
        display: none;
    }
}

.keyboard {
    max-width: 500px;
    width: 90%;
    display: block;
    position: absolute;
    bottom: 1rem;
    

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 5px;
    }
    .key {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $black;
        flex: 1;
        background-color: $brown;
        text-transform: uppercase;
        margin-right: 5px;
        height: 40px;
        border-radius: 5px;
        box-shadow: 3px 3px rgba($color: #000000, $alpha: 0.1);
        font-size: 1.2rem;
        cursor: pointer;

        &:last-child {
            margin-right: 0px;
        }

        &:hover {
            background-color: rgba($color: #ffffff, $alpha: 0.3);
            border: 2px solid $green_medium;
        }
    }
    .half {
        flex: 0.5;
    }
    .one-and-half {
        flex: 1.5;
        font-size: 1rem;
    }

    .used {
        background-color: $used;
    }

    .clicked {
        animation-name: letterClick;
        animation-duration: 200ms;
    }
    
}




@keyframes letterClick {
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}