.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-content {
        width: 70%;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: grey;
        padding: 0px 20px;
    }
}

.game {
    width: 100%;
    max-width: 900px;
    height: 500px;
    margin: 10px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: cadetblue;

    .word {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        width: 100%;
        max-width: 600px;

        .letter-box {
            background-color: grey;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
            margin-right: 5px;
            border-bottom: 2px solid black;

            .hide {
                display: none;
            }

            .show {
                display: block;
            }
        }
        
    }
}

.keyboard {
    max-width: 400px;
    width: 90%;
    display: block;

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 5px;
    }
    .key {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        flex: 1;
        background-color: lightcyan;
        text-transform: uppercase;
        margin-right: 5px;
        height: 40px;
        border-radius: 5px;
        cursor: pointer;

        &:last-child {
            margin-right: 0px;
        }
    }
    .half {
        flex: 0.5;
    }
    .one-and-half {
        flex: 1.5;
        font-size: 0.8rem;
    }

    .wrong {
        background-color: red;
    }

    .right {
        background-color: green;
    }
}